# Ignore .vagrant
.vagrant*

# Ignore subdirectories
!.github/**
dist/
node_modules/
node_modules.tar
coverage/
docs/
.yarn/cache
**/yarnpkg/
/verdaccio/storage/

# Ignore Files
*.tgz
*.tar.gz
*.gz
*.zip
*.bundle
*.log
*.sha
*.log